---
title: About Us
component: ContentPage
---

h2 Introduction
p.
  The digital industry is in boom. Despite living in times of economic uncertainty, the digital industry has continued to flourish. There is money in tech; and hence the skills required to produce it are in great demand. This has led to a rise in educational opportunities for people of all ages and from all backgrounds and walks of life. Which we think is fantastic and feel privileged to be a part of.

h2 The Problem
p.
  At TheJump we feel that currently schools offer 'set curriculum'. This teaching does not respond to the needs of either industry, or the customer. Having worked for the major teaching company in London many of our tutors felt concerned that:
ul
  li The courses were aimed not the customers personal goals, but at an easy solution for the company. (E.g. No, 'hobbyists course' vs 'intro course' and no step between 'part time' and '3 months full-time')
  li Often courses were not setted for ability
  li Often courses were not setted for by customer need. Some people wanted to take on javascript whilst others had no interest and wanted to do advanced CSS. There was no scope for them taking different elective modules
  li There was no offering for up-skilling people already in the tech industry

p.
  The list goes on. Whilst we enjoyed working for those companies and hold nothing against them, we felt that there was a better way which we weren't able to put into practice in those situations so we struck out on our own.

h2 Our solution
p.
  It is our end aim to make the courses 'student-paced' to fit around the lives of our students whilst aiming to take them to a certain goal. For some of our courses that will include getting them in front of the right people; be that recruiters or hiring managers.
