---
title: Courses
component: ContentPage
---

h2 Courses that we do
p.
  The following is a list of courses that TheJump are currently running:

h3 Development
ul
  li Web Development For Fun
  li Junior Web Developer (Front End: Basic)
    ul
      li JWD Design Bolt-on
      li JWD Advanced CSS Bolt-on
      li JWD Javascript Bolt-on
  li Immersive Web development Course

h3 Design
ul
  li Graphic Design Conversion Course
  li Immersive Design Course

h3 User Experience (UX)
ul
  li Basic UX Course
  li Immersive UX course

h3 Social Media
ul
  li Social Media Basics
  li Social Media for Business

h3 Project Management
ul
  li Project Managers Course
