---
title: The Jump Ltd.
component: ContentPage
---
h1.
  What is 'The Jump' and What do we Do??
p.headline
  strong.
    The jump aims to teach digital topics with a view to getting people to the place they need to be.

p.
  Are you:
ul
    li Someone who wants to learn to code for fun?
    li Someone who wants to break into the industry?
    li Someone who wants to do Front End websites?
    li Someone who wants to build Full Systems?
    li Are you a designer, who wants to improve your digital design skills and find out more about how your designs are made into real pages?
    li Are you a graphic designer who wants to transition to the digital environment?
    li A Project Manager who wants to know the truth?!
    li Or are you just a loan wolf on a mission??

  p
    strong.
      Either way, we're here to help you 'Make the Jump'.
